@import 'global';
/******* Login/register tab ******/
.box_tab{
  .box_tab_t{
    border-bottom: solid 1px #dfdfdf;
    ul{
      display: flex;
      li{
        width: 50%;
        a{
          display: block;
          height: 68px;
          line-height: 68px;
          text-align: center;
          color: $c1;
          font-family: "Iransans_Medium";
          font-size: 24px;
          &.active{
            color: $c5;
            position: relative;
            &:before{
              @extend .sprite;
              width: 100%;
              height: 3px;
              position: absolute;
              bottom: -1px;
              right: 0;
              z-index: 100;
              background-color: $c5;
            }
          }
        }
      }
    }
  }
  #box_tab_content{
    .tab-content{
      padding: 60px 20px 70px 20px;
    }
  }
}
.box_c{
  margin: 50px 0 20px 0;
}
.box_text{
  text-align: center;
  margin-bottom: 50px;
}
/******* Login/register tab ******/
